/* Placeholder Selector */
/* Mixin */
/* Clear float */
.clearfix:after,
.widgetContent:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix,
.widgetContent {
  display: block;
}

html[xmlns] .clearfix,
html[xmlns] .widgetContent {
  display: block;
}

* html .clearfix,
* html .widgetContent {
  height: 1%;
}

/* Layout */
a {
  text-decoration: none;
  color: white;
}
a:hover, a:focus {
  outline: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1170px;
}

body {
  color: #4e525d;
  font-size: 14px;
  font-family: "Open Sans Regular", Arial Regular, Tahoma Regular, sans-serif;
  line-height: 150%;
  background: white;
}
body > div .container {
  margin: 0 auto;
}
body > div .container .titleWidget {
  font-size: 42px;
  text-align: center;
}
body > div .container .bodyWidget .item {
  float: left;
  text-align: center;
}
body > div .container .bodyWidget .item img {
  margin: 0 auto;
}
body > div.header .logo {
  margin-top: 32px;
  float: left;
}
body > div.header .mainNav {
  float: right;
}
body > div.header .mainNav ul li {
  float: left;
}
body > div.header .mainNav ul li a {
  color: #484c55;
  padding: 41px 27px 36px;
  display: block;
  border-bottom: 3px solid #fff;
}
body > div.header .mainNav ul li a:hover {
  border-bottom: 3px solid #49cbcd;
  background: #f8f9fb;
}
body > div.widgetService {
  padding: 0 0 100px;
}
body > div.widgetService .bodyWidget .item {
  width: 25%;
  padding: 0 20px;
}
body > div.widgetService .bodyWidget .item .feature {
  padding-bottom: 50px;
}
body > div.widgetService .bodyWidget .item h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 22px;
}
body > div.widgetService .bodyWidget .item p {
  margin-bottom: 30px;
}
body > div.widgetService .bodyWidget .item .readmore {
  padding: 7px 15px;
  border-radius: 4px;
  background: #49cbcd;
}
body > div.widgetPortfolio {
  background: #f1f1f1;
}
body > div.widgetPortfolio .titleWidget {
  padding: 50px 0 60px;
}
body > div.widgetPortfolio .bodyWidget {
  display: block;
}
body > div.widgetPortfolio .bodyWidget .item {
  width: 31%;
  height: 314;
  margin: 0 30px 30px 0;
  position: relative;
}
body > div.widgetPortfolio .bodyWidget .item:nth-child(3n) {
  margin-right: 0;
}
body > div.widgetPortfolio .bodyWidget .item .drape {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  display: none;
}
body > div.widgetPortfolio .bodyWidget .item:hover .drape {
  top: 0;
  display: block;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body > div.widgetPortfolio .seeAll {
  text-align: center;
  padding: 35px 0 100px;
}
body > div.widgetPortfolio .seeAll a {
  font: 24px Open Sans Semibold;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 4px;
  background: #49cbcd;
}
body > div.widgetTeam {
  padding: 90px 0 100px;
}
body > div.widgetTeam .titleWidget {
  padding: 0 0 130px;
}
body > div.widgetTeam .bodyWidget .item {
  width: 25%;
  padding: 0 20px;
}
body > div.widgetTeam .bodyWidget .item h3 {
  font-size: 22px;
  margin: 70px 0 8px;
}
body > div.widgetTeam .bodyWidget .item h4 {
  margin-bottom: 30px;
}
body > div.widgetTeam .bodyWidget .item p {
  line-height: 25px;
}
body > div.widgetPlans {
  padding: 120px 0 100px;
  background: #f1f1f1;
}
body > div.widgetPlans .bodyWidget .item {
  width: 30%;
  margin-right: 30px;
}
body > div.widgetPlans .bodyWidget .item h3 {
  font-size: 26px;
  color: #fff;
  padding: 25px 0;
}
body > div.widgetPlans .bodyWidget .item:nth-child(2n+1) h3 {
  background: #485460;
}
body > div.widgetPlans .bodyWidget .item:nth-child(2n) h3 {
  background: #49cbcd;
}
body > div.widgetPlans .bodyWidget .item:nth-child(2n) p a {
  background: #49cbcd;
}
body > div.widgetPlans .bodyWidget .item h4 {
  font-size: 20px;
  padding: 25px 0;
  background: #f8f9fb;
}
body > div.widgetPlans .bodyWidget .item p {
  color: #8c9299;
  padding: 12px 0;
  line-height: 20px;
  border-top: 1px solid #ecf0f1;
  background: #fff;
}
body > div.widgetPlans .bodyWidget .item p:last-child {
  border-bottom: 1px solid #ecf0f1;
  background: #f8f9fb;
}
body > div.widgetPlans .bodyWidget .item p a {
  font: 17px Open Sans;
  padding: 8px 50px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 3px;
  background: #788492;
}
body > div.widgetTestimonials {
  padding: 145px 0 0 0;
  text-align: center;
}
body > div.widgetTestimonials .slidesjs-container {
  height: 325px !important;
}
body > div.widgetTestimonials .slidesjs-navigation {
  top: 20%;
  width: 12px;
  height: 23px;
}
body > div.widgetTestimonials .slidesjs-navigation.slidesjs-previous {
  background-position: -19px -125px;
}
body > div.widgetTestimonials .slidesjs-navigation.slidesjs-next {
  background-position: -19px -102px;
}
body > div.widgetTestimonials .titleWidget {
  margin-bottom: 35px;
}
body > div.widgetTestimonials .bodyWidget p {
  font-size: 19px;
  line-height: 30px;
}
body > div.widgetTestimonials .bodyWidget p.name {
  font-size: 21px;
  color: #9a8faf;
  margin-top: 30px;
}
body > div.widgetFooter {
  color: #fff;
  padding-bottom: 100px;
  background-size: 100%;
  background-image: url(../images/bgfooter.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
body > div.widgetFooter .titleWidget {
  color: #fff;
  padding: 105px 0 110px;
}
body > div.widgetFooter .bodyWidget .leftBody {
  float: left;
  width: 50%;
}
body > div.widgetFooter .bodyWidget .leftBody h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
body > div.widgetFooter .bodyWidget .leftBody .social {
  margin: 40px 0 13px;
}
body > div.widgetFooter .bodyWidget .leftBody .social li {
  margin-right: 15px;
  float: left;
}
body > div.widgetFooter .bodyWidget .leftBody .social li a {
  padding: 21px;
  display: inline-block;
  background-image: url(../images/social_sprite.png);
  background-repeat: none;
}
body > div.widgetFooter .bodyWidget .leftBody .social li a.facebook {
  background-position: 0 0;
}
body > div.widgetFooter .bodyWidget .leftBody .social li a.twitter {
  background-position: 0 -42px;
}
body > div.widgetFooter .bodyWidget .leftBody .social li a.googlePlus {
  background-position: 0 -84px;
}
body > div.widgetFooter .bodyWidget .rightBody {
  float: right;
  width: 50%;
  padding-left: 10px;
}
body > div.widgetFooter .bodyWidget .rightBody .contactForm > div .name, body > div.widgetFooter .bodyWidget .rightBody .contactForm > div .email {
  width: 47%;
  height: 44px;
}
body > div.widgetFooter .bodyWidget .rightBody .contactForm > div input[type=text], body > div.widgetFooter .bodyWidget .rightBody .contactForm > div textarea {
  border: 0px;
  border-radius: 3px;
  padding: 10px 20px;
  font: 16px Open Sans !important;
  color: #c1c1c1;
  background: #fff;
}
body > div.widgetFooter .bodyWidget .rightBody .contactForm > div .name {
  float: left;
}
body > div.widgetFooter .bodyWidget .rightBody .contactForm > div .email {
  float: right;
}
body > div.widgetFooter .bodyWidget .rightBody .contactForm > div .message {
  margin: 30px 0;
  padding-top: 20px;
  width: 100%;
  height: 180px;
}
body > div.widgetFooter .bodyWidget .rightBody .contactForm > div .send {
  color: #fff;
  font-size: 22px;
  border: 0;
  cursor: pointer;
  float: right;
  -webkit-border-radius: 3px;
  border-radisu: 3px;
  padding: 12px 60px;
  background: #49cbcd;
}

/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
